.inventoryHolder{
    display:block;
    width:100%;
    text-align:center;
    font-size: 12px;
}
.inventoryHolder .inventory{
    display:inline-block;
}
.updateHeader {
    display:block;
}
input{
    width:100px;
    border-radius:5px
}
.updateHeader p{
    display:inline-block;
    margin-right:15px;
}
.inventoryItem {
    display:block;
    width:300px;
    height:100%;
    color:white;
}

@media screen and(max-width:676px){
    .inventoryItem{
        /* width:400px; */
        display:inline-block;
    }
}

.addInventory {
    color:Green;
    /* background-color: green; */
}

.removeInventory {
    color:red;
    /* background-color: red; */
}

.oldInventory {
    color:gray;
    /* background-color: gray; */
}


/* .card-list {
	.clear;
	margin-top: 15px;
	width: 100%;
}
.card {
	border: 5px solid @bg;
	border-radius: 8px;
	color: white;
	float: left;
	padding: 10px;
	position: relative;
	width: 25%;
	.glyphicon {
		color: white;
		font-size: 28px;
		opacity: 0.3;
		position: absolute;
		right: 13px;
		top: 13px;
	}
	.stat {
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		font-size: 8px;
		margin-top: 25px;
		padding: 10px 10px 0;
		text-transform: uppercase;
	}
	.title {
		display: inline-block;
		font-size: 8px;
		padding: 10px 10px 0;
		text-transform: uppercase;
	}
	.value {
		font-size: 28px;
		padding: 0 10px;
	}
	&.blue {
		background-color: #2298F1;
	}
	&.green {
		background-color: #66B92E;
	}
	&.orange {
		background-color: #DA932C;
	}
	&.red {
		background-color: #D65B4A;
	}
}
.projects {
	background-color: @dark-text;
	border: 4px solid @bg;
	width: 100%;
	
	&-inner {
		border: 1px solid @light-bg;
		border-radius: 4px;
	}
}
.projects-header {
	color: white;
	padding: 22px;
	.count,
	.title {
		display: inline-block;
	}
	.count {
		color: #738297;
	}
	.glyphicon {
		cursor: pointer;
		float: right;
		font-size: 16px;
		margin: 5px 0;
	}
	.title {
		font-size: 21px;
		//font-weight: lighter;
		+ .count {
			margin-left: 5px;
		}
	}
} */