<!DOCTYPE html>
<html>
 <head>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.6.3/angular-route.min.js"></script>
    
    <link main="/css/home.css" rel="stylesheet"/>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


</head>
<body ng-app="alamode">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

          </button>
          <a class="navbar-brand" href="#">álamode</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>



    <div class="jumbotron">
      <div class="container">
        <h1>álamode For all</h1>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
    <header>
        <h1> álamode </h1>
        <h1> about. </h1>
        <h1> menu. </h1>
        <h1> order.online </h1>
        <h1> big.ass.orders </h1>
    </header>

    <div class="gallery" ng-controller="HomeController"> 
        <ul>
            <li ng-repeat="product in products">
                <product info="product"></product>
            </li>
        </ul>
        <product ng-repeat="product in products" info="product"></product>
        
    </div>
    <button type="button" ng-click="addToOrder(order)">Add to orders </button>

    <ng-view></ng-view>
</body>
</html>