<div class="row admin-frame">
  <ul class="admin-menu">
    <li>
      <a routerLink="/management/users">
        User Management
      </a>
    </li>
    <li>
      <a routerLink="/management/currentorders">
        Current Orders
      </a>
    </li>
    <li>
      <a routerLink="/management/inventory">
        Manage Inventory
      </a>
    </li>
    <li>
      <a routerLink="/management/products">
        Product Management
      </a>
    </li>
    <li>
      <a routerLink="/management/pressrelease">
        Press Releases
      </a>
    </li>
    <li>
      <a routerLink="/management/payments">
        Payments
      </a>
    </li>
    <li>
      <a routerLink="/management/otherdata">
        Other Data
      </a>
    </li>
  </ul>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>