<div>
	<div id="mainWrapper" class="container">

		<section class="row">
			<div class="product-card col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="catalogProduct in mookie.products">
				<figure class="snip1418">
					<!-- <img ng-click="mookie.showProductModal(catalogProduct)" ng-src="{{catalogProduct.imagePath}}" alt="sample85" /> -->
					<img ng-src="{{catalogProduct.imagePath}}" alt="sample85" />

					<div class="add-to-cart" onclick="">
						<i class="ion-android-add"></i>
						<span ng-click="mookie.addToCart(catalogProduct); $event.stopPropagation();$event.preventDefault();"><a href="#"></a>Buy Now</span>
					</div>
					<figcaption>
						<h3>{{catalogProduct.title}}</h3>
						<p>{{catalogProduct.description}}</p>
						<div class="price">
							{{catalogProduct.price | currency}}
						</div>
					</figcaption>
					<!-- <a href="#"></a> -->
				</figure>
			</div>
		</section>
	</div>
</div>