@charset "UTF-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
*, *:before, *:after {
  box-sizing: border-box;
}

.product-container {
  background: white;
  color:black;
  /* width: 740px; */
  width:100%;
  margin: 45px auto;
  border-radius: 20px;
  position: relative;
  box-shadow: -1px 15px 30px -6px rgba(196, 196, 196, 1);
}
strong {
  font-weight: 900;
}
.shoe-details-right {
  float: left;
  width: 100%;
  padding: 30px;
  text-transform: uppercase;
}
.shoe-details-right .product-title {
  font-size: 16px;
}
.shoe-details-right .label {
  background: #ff3f2a;
  color: white;
  border-radius: 5px;
  padding: 4px 7px;
  font-size: 10px;
  vertical-align: top;
  margin-left: 10px;
}
.shoe-details-right .product-category {
  margin: 5px 0 10px;
}
.shoe-details-right .product-stars {
  margin-bottom: 30px;
}
.shoe-details-right .product-stars .gray {
  color: #999;
}
.shoe-details-right .product-tabs {
  margin-bottom: 20px;
}
.shoe-details-right .product-tabs li {
  display: inline;
  margin-right: 10px;
  padding: 0 7px;
  color: #ff3f2a;
}
.shoe-details-right .product-tabs li.active {
  padding-bottom: 3px;
  border-bottom: 3px solid #ff3f2a;
}
.shoe-details-right .product-tabs li a {
  color: #cacaca;
  text-decoration: none;
  font-weight: 700;
}
.shoe-details-right .product-tabs li a:hover, .shoe-details-right .product-tabs li a:focus {
  color: #ff3f2a;
}
.shoe-details-right .product-tabs li.active > a {
  color: #ff3f2a !important;
}
.shoe-details-right .tab-content {
  text-transform: none;
  font-size: 14px;
  margin-bottom: 30px;
}
.shoe-details-right h2 {
  font-weight: 900;
  margin-bottom: 10px;
}
.shoe-details-right .quantity {
  margin-bottom: 20px;
}
.shoe-details-right .quantity li {
  display: inline;
  font-size: 14px;
  margin-right: 40px;
  padding: 5px;
}
.shoe-details-right .quantity li.active, .shoe-details-right .quantity li:hover {
  background: #ff3f2a;
  border-radius: 50%;
  color: white;
}
.shoe-details-right .quantity li.active > a, .shoe-details-right .quantity li:hover > a {
  color: white;
}
.shoe-details-right .quantity li a {
  text-decoration: none;
  color: black;
}
.shoe-details-right .colours {
  margin: 20px 0 60px;
}
.shoe-details-right .colours li {
  display: inline;
  margin-right: 30px;
}
.shoe-details-right .colours li.active > a {
  border: 1px solid #00d3ef;
  border-radius: 100%;
  padding: 14px 7px 3px 7px;
}
.shoe-details-right .circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.shoe-details-right .blue {
  background: #00d3ef;
}
.shoe-details-right .orange {
  background: #ff3f2a;
}
.shoe-details-right .yellow {
  background: #ffd203;
}
.shoe-details-right .black {
  background: black;
}
.shoe-details-right a.btn {
  text-decoration: none;
  background: #ccc;
  color: white;
  padding: 14px 20px;
  font-size: 16px;
  border-radius: 6px;
}
.shoe-details-right a.btn:hover {
  background: #d9d9d9;
}
.shoe-details-right a.btn-primary {
  background: #00d3ef;
  margin-right: 20px;
}
.shoe-details-right a.btn-primary:hover {
  background: #0ae2ff;
}
.close-button {
 /* display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em; */

  position: absolute;
  right: -20px;
  top: -20px;
  /* transform: translate(-50%,-50%); */

  font-size: 40px;
  color: #b8b8b8;
  background: white;
  border-radius: 50%;
  padding: 10px 10px 15px 10px;
  box-shadow: -1px 3px 20px -6px rgba(196, 196, 196, 1);
}
.close-button:hover {
  background: #fbfafa;
  cursor: pointer;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

