.order-frame {
    position: absolute;
    left: 50%;
    top: 15%;
}

.receipt {
    background: #ff84a1;
    color: #3a3e59;
    font-family: 'Raleway', Arial, sans-serif;
    max-width: 400px;
    margin: 5vh auto 0 auto;
    transition: .3s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
}

.receipt .hoverable {
    transition: .3s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
}

.receipt .hoverable:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
}

/* receipt header styles */

.receipt-header {
    width: 100%;
}

.receipt-header__top {
    display: flex;
    align-items: center;
    background: white;
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.receipt-header__logo {
    width: 10%;
    padding: 30px;
    background-image: url("../../../assets/imgs/goodmookie.svg");
}

.receipt-header__meta {
    position: relative;
    width: 90%;
    height: 100%;
    margin-left: 15px;
    line-height: 1.7rem;
    opacity: .3;
}

.receipt-header__serial {
    display: block;
}

.receipt-header__number {
    position: absolute;
    top: 15px / 2;
    right: 0;
    transform: rotate(270deg);
    opacity: .2;
}

.receipt-header__greeting {
    clear: both;
}

/* // Greeting styles */

.receipt-header__greeting {
    position: relative;
    background: white;
    padding: 0 15px;
    padding-left: 15px * 2;
}

.receipt-header__name {
    display: block;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 15px / 2;
}

.receipt-header__count {
    opacity: .4;
    font-size: 90%;
}

.receipt-header__border {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: #429fff;
}

.receipt-header__spacing {
    display: block;
    background: white;
    width: 100%;
    height: 15px * 1.5;
}

/* // Cart styles */

.cart {
    background: white;
    padding: 30px;
    padding-top: 15px;
    border-bottom: 2px dashed #333333;
    border-radius: 0 0 5px 5px;
}

.cart__receipt-header {
    margin-top: 0;
    text-align: center;
}

.cart__hr {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    border-bottom: 3px solid #333333;
}

.list {
    margin: 0;
    padding: 0;
    counter-reset: item-counter;
}

.list__item {
    display: flex;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px dashed rgba(0, 0, 0, .1);
}

.list__item:last-child {
    border-bottom: none;
}

.list__item:before {
    content: counter(item-counter);
    counter-increment: item-counter;
    margin-right: 15px;
}

.list__name {
    flex: 1;
    align-self: flex-start;
}

.list__price {
    align-self: flex-end;
    text-align: right;
    font-weight: bold;
}

.cart__total {
    display: flex;
    width: 100%;
}

.cart__total-label {
    margin: 0;
    flex: 1;
    text-transform: uppercase;
}

.cart__total-price {
    align-self: flex-end;
    font-weight: bold;
    text-align: right;
}

@keyframes glow {
    to {
        text-shadow: 0 0 10px orangered;
    }
}

.order-message.pending {
    color: #333333;
    animation: glow .5s infinite alternate;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: bold;
}


.order-message-container{
    padding-top:20px;
    width:100%;
    text-align:center;
    vertical-align:center;
}