<!-- Page Wrapper -->
<div class="page-wrapper">
  <!-- Container -->
  <form method="post" class="container padding-top-3x padding-bottom-2x">

    <h1 class="space-top-half">Checkout</h1>
    <div class="row padding-top">

      <!-- Checkout Form -->
      <div class="col-sm-8 padding-bottom">
        <!-- .row -->
        <div class="row">
          <!-- <a href="#" class="add-to-cart" ng-click="mookie.showStripeModal()">
                <em>Checkout Now</em>
                <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                  <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
                </svg>
            </a> -->


   
<!-- 

          <form>
            <label>
                  <input name="cardholder-name" class="field is-empty" placeholder="Jane Doe" />
                  <span><span>Name</span></span>
                </label>
            <label>
                  <input class="field is-empty" type="tel" placeholder="(123) 456-7890" />
                  <span><span>Phone number</span></span>
                </label>
            <label>
                  <div id="card-element" class="field is-empty"></div>
                  <span><span>Credit or debit card</span></span>
                </label>
            <button type="submit">Pay $25</button>
            <div class="outcome">
              <div class="error" role="alert"></div>
              <div class="success">
                Success! Your Stripe token is <span class="token"></span>
              </div>
            </div>
          </form>

          <div class="col-sm-6">


          </div>


        </div>

      </div>
      <!-- .col-sm-8 -->

      <!-- Sidebar -->
      <div class="col-md-3 col-md-offset-1 col-sm-4 padding-bottom">
        <aside>
          <h3>Cart total:</h3>
          <h4>${{mookie.total}}</h4>
          <a href="/shopping-cart" class="btn btn-default btn-ghost icon-left btn-block">
              <i class="material-icons arrow_back"></i>
              Back To Cart
            </a>
          <button type="submit" class="btn btn-primary btn-block waves-effect waves-light space-top-none" ng-click="mookie.showStripeModal()">Checkout</button>
        </aside>
      </div>
      <!-- .col-md-3.col-sm-4 -->
    </div>
    <!-- .row -->
  </form>
  <!-- .container -->
</div>
<!-- .page-wrapper -->