<!-- Page Wrapper -->
<div class="page-wrapper">

  <!-- Featured Categories -->
  <div class="row">
    <ui-carousel slides="mookie.slides.slides" slides-to-show="1" slides-to-scroll="1" initial-slide="1" autoplay="true" autoplay-speed="3000"
      arrows="false" dots="true" class="visible-mobile">
      <carousel-item>
        <div class="image">
          <img class="center-block" style="height:200px; width:auto; border-left:5px;" ng-src="{{item}}">
        </div>
      </carousel-item>
    </ui-carousel>
  </div>

  <div class="row">
    <ui-carousel slides="mookie.slides.slides" slides-to-show="1" slides-to-scroll="1" initial-slide="1" autoplay="true" autoplay-speed="3000"
      arrows="false" dots="true" class="visible-desktop">

      <carousel-item>
        <div class="image">
          <img class="center-block" style="height:400px; width:auto;" ng-src="{{item}}">
        </div>
      </carousel-item>
    </ui-carousel>
  </div>

  <!-- Product Grid -->
  <section class="container padding-top-3x">

    <!-- Bestsellers -->
    <h3 class="text-center">Bestsellers</h3>
    <div class="row padding-top">
      <!-- Item -->
      <div class="col-sm-6 col-md-4 col-lg-4" ng-repeat="catalogProduct in home.bestsellers">
        <div class="shop-item" ng-click="mookie.showProductModal(catalogProduct)">
          <div class="shop-thumbnail">
            <span class="item-rating text-warning">
              <i class="material-icons star"></i>
              <i class="material-icons star"></i>
              <i class="material-icons star"></i>
              <i class="material-icons star"></i>
              <i class="material-icons star_border"></i>
            </span>
            <span class="shop-label text-danger"> Sale</span>
            <a href="#" class="item-link"></a>
            <img ng-src="{{catalogProduct.imagePath}}" alt="Shop item">
            <div class="shop-item-tools">
              <a href="#" class="add-to-wishlist" data-toggle="tooltip" data-placements="top" title="" data-original-title="Wishlist">
                <i class="material-icons favorite_border"></i>
              </a>
              <a href="#" class="add-to-cart">
                <!-- <em ng-click="home.addToCart(catalogProduct)"> Add to Cart</em> -->
                <em ng-click="mookie.addToCart(catalogProduct); $event.stopPropagation();$event.preventDefault();"> Add to Cart</em>
                <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                  <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square"
                    stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"></path>
                </svg>
              </a>
            </div>

            <!-- Inside thumbnail -->
          </div>
          <div class="shop-item-details">
            <h3 class="shop-item-title">
              <a href="#">{{catalogProduct.title}}</a>
            </h3>
            <span class="shop-item-price">
              <span class="old-price">$6.50</span> {{catalogProduct.price | currency}}
            </span>
          </div>
        </div>
      </div>

    </div>
    <!-- .row -->
  </section>
  <!-- .container -->
  <!-- New Arrivals -->

  <section class="container padding-top-3x space-top-half">
    <h3 class="text-center">Mookie's Specials</h3>
    <div class="row padding-top">

      <div class="col-lg-3 col-md-4 col-sm-6 col-xl-4" ng-repeat="catalogProduct in home.catalogProducts">
        <div class="shop-item" ng-click="mookie.showProductModal(catalogProduct)">
          <div class="shop-thumbnail">
            <span class="shop-label text-danger"> Sale</span>
            <a href="#" class="item-link"></a>
            <img ng-src="{{catalogProduct.imagePath}}" alt="Shop item">
            <div class="shop-item-tools">
              <a href="#" class="add-to-wishlist" data-toggle="tooltip" data-placements="top" title="" data-original-title="Wishlist">
                <i class="material-icons favorite_border"></i>
              </a>
              <a href="#" class="add-to-cart">
                <em ng-click="mookie.addToCart(catalogProduct); $event.stopPropagation();$event.preventDefault();"> Add to Cart</em>
                <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                  <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square"
                    stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"></path>
                </svg>
              </a>
            </div>
            <!-- <div class="mooke-slider">Some content here....</div> -->

          </div>
          <div class="shop-item-details">
            <h3 class="shop-item-title">
              <a href="#">{{catalogProduct.title}}</a>
            </h3>
            <span class="shop-item-price">
              <span class="old-price">$6.50</span> {{catalogProduct.price | currency}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- .row -->
  </section>
  <!-- .container -->

  <!-- Video Popup -->

  <!-- .fw-section -->

  <!-- Features -->
  <section class="container space-top space-bottom padding-top-3x padding-bottom-3x">
    <div class="row">
      <!-- Feature -->
      <div class="col-md-3 col-sm-6">
        <div class="feature text-center">
          <div class="feature-icon">
            <i class="material-icons location_on"></i>
          </div>
          <h4 class="feature-title">24/7 Convienent Locations</h4>
          <p class="feature-text">Access to Amazing Cookie Dough and Milk Through Our Smart Fridges</p>
        </div>
      </div>
      <!-- Feature -->
      <div class="col-md-3 col-sm-6">
        <div class="feature text-center">
          <div class="feature-icon">
            <i class="material-icons autorenew"></i>
          </div>
          <h4 class="feature-title">Predictive AI For Freshest</h4>
          <p class="feature-text">We use powerful artificial intelligence to deliver the best cookie dough</p>
        </div>
      </div>
      <!-- Feature -->
      <div class="col-md-3 col-sm-6">
        <div class="feature text-center">
          <div class="feature-icon">
            <i class="material-icons headset_mic"></i>
          </div>
          <h4 class="feature-title">Customer Feedback</h4>
          <p class="feature-text">We always try to be available for our customers</p>
        </div>
      </div>
      <!-- Feature -->
      <div class="col-md-3 col-sm-6">
        <div class="feature text-center">
          <div class="feature-icon">
            <i class="material-icons credit_card"></i>
          </div>
          <h4 class="feature-title">Secure Online Payments</h4>
          <p class="feature-text">We posess SSL / Secure Certificate</p>
        </div>
      </div>
    </div>
    <!-- .row -->
  </section>
  <!-- .container -->
</div>