  <!-- Page Wrapper -->
  <div class="page-wrapper">

    <!-- Featured Image -->
    <div class="featured-image" style="background-image: url(http://via.placeholder.com/1440x500);"></div>

    <!-- Content -->
    <section class="container padding-top-3x padding-bottom-2x">
      <h1>User Account</h1>
      <div class="row padding-top">
        <div class="col-md-4 padding-bottom">
          <h3>Login</h3>
          <form method="post" class="login-form" ng-submit="main.doLogin(user.loginData)">
            <input type="text" class="form-control" placeholder="Username" required ng-model="user.loginData.email">
            <input type="password" class="form-control" placeholder="Password" required ng-model="user.loginData.password">
            <div class="form-footer">
              <div class="rememberme">
                <label class="checkbox">
                  <input type="checkbox" checked> Remember me
                </label>
              </div>
              <div class="form-submit">
                <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">Login</button>
              </div>
            </div>
            <div class="form-element">
               <h1> {{main.message}}</h1>
              </div>
          </form><!-- .login-form -->
        </div><!-- .col-md-4 -->

        <div class="col-md-4 col-md-offset-1">
          <h3>Register</h3>
          <div class="inner">
            <form method="post" class="login-form" ng-submit="user.registerMookie(regData)">
              <input type="text" class="form-control" placeholder="E-mail" required ng-model="user.regData.email">
              <input type="password" class="form-control" placeholder="Password" required ng-model="user.regData.password">
              <input type="password" class="form-control" placeholder="Repeat password" required>
              <div class="form-footer">
                <div class="rememberme"></div>
                <div class="form-submit">
                  <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">Sign up</button>
                </div>
              </div>
              <div class="form-element">
               <h1> {{main.message}}</h1>
              </div>
            </form><!-- .login-form -->
          </div><!-- .inner -->
        </div><!-- .col-md-4.col-md-offset-1 -->



        <div class="col-md-3 padding-top-2x">
          <a href="#" class="social-signup-btn ssb-facebook">
            <i class="socicon-facebook"></i>
            <span>Signup with Facebook</span>
          </a>
          <a href="#" class="social-signup-btn ssb-google">
            <i class="socicon-googleplus"></i>
            <span>Signup with Google+</span>
          </a>
          <a href="#" class="social-signup-btn ssb-twitter">
            <i class="socicon-twitter"></i>
            <span>Signup with Twitter</span>
          </a>
        </div><!-- .col-md-3 -->
      </div><!-- .row -->
    </section><!-- .container -->
  </div><!-- .page-wrapper -->
