  <!-- Page Wrapper -->
  <div class="page-wrapper text-center">
    <!-- Content -->
    <section class="container padding-top-3x padding-bottom-2x">
      <h1 ng-show="!user.loggedIn">User Account</h1>

      <div class="row match-my-cols">

        <div class="col-md-4 col-md-offset-3 padding-bottom" ng-show="user.chooseLogin">
          <h3>Login</h3>
          <form method="post" class="login-form" ng-submit="user.mookieLogin(user.loginData)">
            <input type="email" class="form-control" placeholder="Email" required ng-model="user.loginData.email">
            <input type="password" class="form-control" placeholder="Password" required ng-model="user.loginData.password">
            <div class="form-footer row">
              <div class="rememberme">
                <label class="checkbox">
                  <input type="checkbox" checked> Remember me
                </label>
              </div>
              <div class="form-submit">
                <button type="submit" class="btn btn-primary btn-block waves-effect waves-light inlineButton">Login</button>
              </div>
            </div>
            <div class="form-element help-block" ng-show="user.loginMessage">
               <p> {{user.loginMsg}}</p>
            </div>
          </form><!-- .login-form -->
          <a href="#" class="text-danger" ng-show="user.chooseLogin" ng-click="user.switchToReg()">Sign up?</a>          
        </div><!-- .col-md-4 -->


        <div class="col-md-4 col-md-offset-3 padding-bottom" ng-show="user.chooseReg">
          <h3>Register</h3>
          <div class="inner">
            <form method="post" class="login-form" ng-submit="user.registerMookie(user.regData)">
              <input type="email" class="form-control" placeholder="E-mail" required ng-model="user.regData.email">
              <input type="text" class="form-control" placeholder="Username" required ng-model="user.regData.username">
              <input type="password" class="form-control" placeholder="Password" required ng-model="user.regData.password">
              <!-- <input type="password" name="password" class="form-control"  required ng-disabled="register.disabled"
               class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password *" match="{{user.regData.password}}"
                ng-change="user.regData.password = confirm" ng-model="confirm"> -->

              <div class="form-footer row">
                <div class="rememberme"></div>
                <div class="form-submit">
                  <button type="submit" class="btn btn-primary btn-block waves-effect waves-light inlineButton">Sign up</button>
                </div>
              </div>
              <div class="form-element help-block" ng-show="user.regMessage">
               <p> {{user.regMsg}}</p>
              </div>
            </form><!-- .login-form -->
          </div><!-- .inner -->
          <a href="#" class="text-success" ng-show="user.chooseReg" ng-click="user.switchToLogin()">Login?</a>          
        </div><!-- .col-md-4.col-md-offset-1 -->

        <!-- Social media login links -->
        <div class="col-md-3 padding-top-2x sethalf" ng-show="user.chooseLogin">
          <a href="/auth/facebook" target="_" class="social-signup-btn ssb-facebook">
            <i class="socicon-facebook"></i>
            <span>Login with Facebook</span>
          </a>
          <a href="/auth/google" target="_" class="social-signup-btn ssb-google">
            <i class="socicon-googleplus"></i>
            <span>Login with Google+</span>
          </a>
        </div><!-- .col-md-3 -->
        <div class="col-md-3 padding-top-2x sethalf" ng-show="user.chooseReg">
          <a  href="/auth/facebook" target="_" class="social-signup-btn ssb-facebook">
            <i class="socicon-facebook"></i>
            <span>Signup with Facebook</span>
          </a>
          <a href="/auth/google" target="_" class="social-signup-btn ssb-google">
            <i class="socicon-googleplus"></i>
            <span>Signup with Google+</span>
          </a>
        </div><!-- .col-md-3 -->

      </div><!-- .row -->
    </section><!-- .container -->
  </div><!-- .page-wrapper -->
