  <!-- Page Wrapper -->
  <div class="page-wrapper">

     <!-- Container -->
    <section class="container padding-top-3x padding-bottom">

      <h1 class="space-top-half">Shopping Cart</h1>
      <div class="row padding-top">

        <!-- Cart -->
        <div class="col-sm-8 padding-bottom-2x">
          <p class="text-sm">
            <span class="text-gray">Currently</span> {{cartCtrl.products.length}} items   
            <span class="text-gray"> in cart</span>
          </p>
          <div class="shopping-cart">

            <div class="item" ng-repeat="cartItem in cartCtrl.cartProducts">
              <a href="" class="item-thumb">
                <img ng-src="{{cartItem.imagePath}}" alt="Item">
              </a>
              <div class="item-details">
                <h3 class="item-title">{{cartItem.title}}</h3>
                <h4 class="item-price">{{cartItem.price}}</h4>
                <div class="count-input">
                  <a class="incr-btn" data-action="decrease" href="#">-</a>
                  <input class="quantity" type="text" ng-value="{{cartItem.qty}}">
                  <a class="incr-btn" data-action="increase" href="#" ng-click="cartCtrl.addItem(cartItem)">+</a>
                </div>
              </div>
              <a href="#" class="item-remove" data-toggle="tooltip" data-placement="top" title="Remove" ng-click="cartCtrl.removeItem(cartItem)">
                <i class="material-icons remove_shopping_cart"></i>
              </a>
            </div>

          <!-- Coupon -->
          <div class="">
            <p class="text-gray text-sm">Have discount coupon?</p>
            <form method="post" class="row">
              <div class="col-md-8 col-sm-7">
                <div class="form-element">
                  <input type="text" class="form-control" placeholder="Enter coupon" required>
                </div>
              </div>
              <div class="col-md-4 col-sm-5">
                <button type="submit" class="btn btn-default btn-ghost btn-block space-top-none space-bottom">Apply Coupon</button>
              </div>
            </form>
          </div>
        </div><!-- .col-sm-8 -->

        <!-- Sidebar -->
        <div class="col-md-3 col-md-offset-1 col-sm-4 padding-bottom-2x">
          <aside>
            <h3 class="toolbar-title">Cart subtotal:</h3>
            <h4 class="amount">{{cartCtl.cartTotal}}</h4>
            <a href="#" class="btn btn-default btn-block waves-effect waves-light">Update Cart</a>
            <a href="/checkout" class="btn btn-primary btn-block waves-effect waves-light space-top-none">Checkout</a>
          </aside>
        </div><!-- .col-md-3.col-sm-4 -->
      </div><!-- .row -->
    </section><!-- .container -->
  </div><!-- .page-wrapper -->
