<!-- Page Wrapper -->
<div class="page-wrapper">
  <!-- Page Title -->
  <section class="container-fluid padding-top-3x">
    <h1 class="space-top-half tablet-center">Ice Cold Milk</h1>
  </section>
  <!-- .container-fluid -->

  <!-- Filters Bar -->
  <section class="container padding-top">
    <div class="filters-bar space-top-half">
      <div class="column">
        <!-- Nav Filters -->
        <ul class="nav-filters">
          <li><a href="/cookiedoughmainshop">Signature Cookie Dough</a> <sup>3</sup></li>
          <li><a href="/minicookiedoughmainshop">Mini Cookie Dough</a> <sup>3</sup></li>
          <li class="active"><a href="/milkmainshop">Ice Cold Milk</a> <sup>3</sup></li>
          <li><a href="/localfavmainshop">Local Favorite</a> <sup>2</sup></li>
          <li><a href="#">Mookie's Choice</a> <sup>12</sup></li>
        </ul>
        <!-- .nav-filters -->
      </div>
      <!-- .column -->
      <div class="column">

      </div>
    </div>
    <!-- .filters-bar -->
  </section>
  <!-- .container -->

  <!-- Shop Catalog -->
  <section class="container-fluid padding-bottom-3x">
    <div class="row">

      <!-- Item -->
      <div class="col-lg-3 col-md-4 col-sm-6" ng-repeat="product in mainShop.products">
        <div class="shop-item" ng-click="mookie.showProductModal(product)">
          <div class="shop-thumbnail">
            <img ng-src="{{product.imagePath}}" alt="Shop item">
            <div class="shop-item-tools">
              <a href="#" class="add-to-cart" ng-click="mookie.addToCart(product); $event.stopPropagation();">
                    <em>Add to Cart</em>
                    <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                      <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
                    </svg>
              </a>
            </div>
          </div>
          <div class="shop-item-details">
            <h3 class="shop-item-title">{{product.title}}</h3>
            <span class="shop-item-price">
                  {{product.price | currency}}
                </span>
          </div>
        </div>
      </div>
      <!-- .col-md-4.col-sm-6 -->
</div>
<!-- .row -->
<hr>
<!-- .pagination -->
</section>
<!-- .container -->
</div>
<!-- .page-wrapper -->