<div class="">

  <div class="row centerH">
    <div class="col-md-8 col-lg-6 mookieC">
      <ngb-carousel *ngIf="images" class="mookieC">
        <ng-template ngbSlide>
          <img class="carousel-img" [src]="images[0]" alt="Random first slide">
          <div class="carousel-caption">
            <h3>Dellarontay Readus</h3>
            <p>Co-Founder, Head of Technology and Software</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="carousel-img" [src]="images[1]" alt="Random second slide">
          <div class="carousel-caption">
            <h3>Andrew Bempah</h3>
            <p>President</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="carousel-img" [src]="images[2]" alt="Random third slide">
          <div class="carousel-caption">
            <h3>Oluwaseyi Olaleye</h3>
            <p>Co-Founder, Head Of Operations</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="carousel-img" [src]="images[3]" alt="Random third slide">
          <div class="carousel-caption">
            <h3>Akim Richards</h3>
            <p>Co Founder, Head of Strategy Implementation</p>
          </div>
        </ng-template>
      </ngb-carousel>

    </div>

  </div>

  <section id="feature-one">
    <div class="container text-center">
      <div class="row">
        <div class="feature-content">
          <div class="col-lg-6 ">
            <h6>Who we are</h6>
            <h2>Mookie Dough has been serving premium quality cookie dough to our customers since 2017</h2>
            <p class="lead">In that time Stanford students and our valued customers in the nearby Stanford area have propeled our small company
              forward into a platform to share amazing content and of course delicious edible cookie dough.</p>
            <a routerLink="/about">About us</a>
          </div>
          <div class="col-lg-6">
            <img src="assets/imgs/colM0.jpg">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="feature-two" class="feature-dark">
    <div class="container text-center">
      <div class="row">
        <div class="feature-content">
          <div class="col-lg-6 feature-caption">
            <h2>Have a craving for cookie dough?</h2>
            <p class="lead">Enjoy our safe and delicious artisian quality cookie dough made without eggs!</p>
          </div>
          <div class="col-lg-6 text-sm-center hidden-md-down lowish">
            <img src="assets/imgs/beachdo1.jpg" alt="Beach Mookie">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="feature-three">
    <div class="container text-center">
      <div class="row">
        <div class="feature-content">
          <div class="col-lg-6 hidden-md-down">
            <img src="assets/imgs/M00KIE.jpg" alt="M00kie img">
          </div>
          <div class="col-lg-5 col-lg-offset-1">
            <h6>EXCLUSIVE CATERING</h6>
            <h2>Serving Stanford and nearby areas</h2>
            <p class="lead">Contact Andrew Bempah or Oluwaseyi Olaleye at bempah@mookiedough.com and olaleye@mookiedough.com for exclusive
              catering!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="feature-four" class="feature-alt">
    <div class="container text-center">
      <div class="row">
        <div class="feature-content">
          <div class="col-lg-6">
            <h6>Dream Big</h6>
            <blockquote class="blockquote">
              &ldquo; When people eat Mookie Dough Cookie Dough and support our platform, they are cosigning and supporting the dreams
              of a team of hustlers that weren't afraid to dream &rdquo;
              <footer class="blockquote-footer">
                Andrew Bempah,
                <cite>President of Mookie Dough LLC</cite>
              </footer>
            </blockquote>
          </div>
          <div class="col-lg-6 hidden-md-down">
            <img src="assets/imgs/side.png" alt="Brelvis Hesley">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>