<section id="contact">
    <div class="container">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                    <input type="checkbox"> Remember me
                    </label>
                </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Sign in</button>
                </div>
            </div>
        </form>


        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <form name="sentMessage" id="contactForm" ng-submit="main.doLogin(loginData);" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Username Input -->
                            <div class="form-group">
                                <label>Username:</label>
                                <input ng-disabled="main.disabled || facebook.disabled || twitter.disabled || google.disabled" class="form-control" type="text" name="username" placeholder="username *" ng-model="main.loginData.username" autocomplete="off">
                            </div>
                            <!-- Password Input -->
                            <div class="form-group">
                                <label>Password:</label>
                                <input ng-disabled="main.disabled || facebook.disabled || twitter.disabled || google.disabled" class="form-control" type="password" name="password" placeholder="password *" ng-model="main.loginData.password">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-left">
                            <div>
                                <a href="/resetpassword">
                                    <button ng-disabled="main.disabled || facebook.disabled || twitter.disabled || google.disabled" type="button" class="btn btn-danger">Forgot Password</button>
                                </a>
                                <a href="/resetusername">
                                    <button ng-disabled="main.disabled || facebook.disabled || twitter.disabled || google.disabled" type="button" class="btn btn-info">Forgot Username</button>
                                </a>
                            </div>
                            <br>
                            <div id="success"></div>
                            <!-- Login Button -->
                            <button type="submit" ng-disabled="main.disabled || facebook.disabled || twitter.disabled || google.disabled" class="btn btn-xl">Login</button>
                            <!--Facebook-->
                            <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
                            <!--Twitter-->
                            <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
                            <!--Google +-->
                            <a type="button" class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <br>

        <!-- Custom Messages -->
        <div class="row show-hide-message" ng-show="main.successMsg || main.errorMsg || facebook.errorMsg || twitter.errorMsg || google.errorMsg">
            <div ng-class="alert">{{ main.successMsg || main.errorMsg || facebook.errorMsg || twitter.errorMsg || google.errorMsg }}</div>&nbsp
            <a ng-show="main.expired || facebook.expired || google.expired || twitter.expired" href="/resend">
                <!-- Button to Resend an Activation Link -->
                <button type="button" class="btn btn-success">Resend Activation Link</button>
            </a>
        </div>
        <!-- Custom Messages -->
    </div>
    <!-- End of Container -->
</section>
<!-- Main Section /-->