@charset "utf-8";
/* Global Styles */

a:hover {
	color: rgba(255, 255, 255, 1.00);
}

/* Logo placeholder*/

#logo {
	position: relative;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 139px;
	text-align: center;
	color: rgba(255, 255, 255, 1.00);
	background-color: rgba(190, 190, 190, 0.00);
}

/* Main content of the site */

#content {
	clear: both;
	overflow: auto;
	padding-top: 29px;
}

/* main content of the site */

#content .mainContent {
	float: left;
	width: 70%;
	text-align: center;
	padding-left: 4%;
}

/* Whole page content */

#mainWrapper {
	width: 100%;
	padding-left: 0%;
}

/*menu elements */

/* footer */

#mainWrapper footer {
	clear: both;
	overflow: auto;
	background-color: rgba(208, 207, 207, 1.00);
	font-family: "Abel", "sans serif";
	font-weight: 200;
	line-height: 1.8;
	padding-top: 22px;
	padding-left: 22px;
	text-align: center;
	padding-bottom: 22px;
	padding-right: 22px;
}

/*Each footer content */

#mainWrapper footer div {
	width: 27%;
	float: left;
	padding-left: 4%;
	padding-right: 2%;
	color: rgba(255, 255, 255, 1.00);
	text-align: justify;
}

/* Links in footer */

footer div a {
	color: rgba(146, 146, 146, 1.00);
	display: block;
	text-decoration: none;
	text-align: center;
}

/* Container for links in footer */

footer .footerlinks {
	margin-top: -15px;
}

/* Media query for tablets */

@media screen and (max-width:700px) {
	/* search field in sidebar */
	/*menu headings in sidebar */
	#menubar .menu h2 {
		display: inline;
		font-size: medium;
		padding-right: 6%;
	}
	/* Unordered List of links */
	#menubar .menu ul {
		display: inline;
	}
	/*list elements */
	#menubar .menu ul li {
		display: inline;
		font-size: medium;
		padding-left: 0%;
		padding-right: 3%;
	}
	/*The link to be hidden in tablet view */
	.sidebar #menubar .menu ul .notimp {
		display: none;
	}
	/* menus in sidebar */
	.sidebar #menubar .menu {
		width: 100%;
		text-align: center;
		position: relative;
		top: 16px;
	}
	/*menubar in sidebar */
	#content .sidebar #menubar {
		position: relative;
		left: -7%;
		overflow: hidden;
		width: 95%;
		padding-top: 0px;
	}
	/* offer banners content */
	#mainWrapper #offer p {
		font-size: small;
	}
	/* main content region of page */
	#mainWrapper #content .mainContent {
		overflow: hidden;
		width: 95%;
		margin-top: 40px;
	}
	/* Container for links in footer */
	#mainWrapper footer .footerlinks {
		float: none;
		width: 100%;
		position: relative;
		top: 17px;
		clear: both;
		text-align: center;
		left: 0%;
		padding-bottom: 19px;
	}
	/* Container for each footer divisions */
	#mainWrapper footer div {
		width: 44%;
		text-align: justify;
		font-size: 15px;
	}
	/* Links in footer */
	.footerlinks p a {
		padding-top: 0px;
		padding-bottom: 0px;
		display: inline;
		padding-right: 35px;
	}
	/* Footer region */
	#mainWrapper footer {
		padding-left: 16px;
		overflow: hidden;
	}
	/* Links in header */
	header #headerLinks a {
		padding-left: 0px;
		padding-right: 30px;
	}
	/* Offer- Text banner */
	#mainWrapper #offer {
		padding-left: 22%;
	}
	/* Paragraphs in footer */
	footer .footerlinks p {
		display: inline;
	}
}

/*media query for small screen devices */

@media screen and (max-width:480px) {
	/*Container for links in header */
	#mainWrapper header #headerLinks {
		width: 100%;
		text-align: center;
		background-color: rgba(190, 190, 190, 1.00);
		padding-bottom: 21px;
	}
	/* Logo placeholder*/
	#mainWrapper header #logo {
		width: 100%;
		text-align: center;
	}
	/* Links in header */
	header #headerLinks a {
		text-align: center;
		padding-right: 15px;
		padding-left: 0px;
	}
	/*Offer - Text Banner */
	#mainWrapper #offer {
		padding-left: 0px;
		text-align: center;
	}
	/* Menubar in sidebar */
	#content .sidebar #menubar {
		position: relative;
		left: -8%;
		text-align: center;
	}
	/*Menu headings in sidebar */
	#menubar .menu h2 {
		width: 100%;
		display: block;
	}
	/* Each product in catalog view */
	.mainContent .productRow .productInfo {
		width: 100%;
		display: block;
		padding-left: 0px;
		padding-right: 0px;
		position: relative;
		left: -2%;
	}
	#mainWrapper footer div {
		width: 100%;
		margin-left: -16px;
		text-align: justify;
		padding-bottom: 16px;
		overflow: auto;
	}
	/* Unordered list for menu elements */
	.menu ul {
		position: relative;
		padding-left: 24%;
	}
	/* Container for links in footer */
	#mainWrapper footer .footerlinks {
		padding-left: 8%;
	}
	/* Main content which excludes the sidebar */
	#mainwrapper #content .mainContent {
		margin-top: -81px;
		text-align: center;
		width: 100%;
		padding-left: 0px;
	}
}

.navigation ul {
	width: 100%;
	height: 3em;
	background-color: rgba(255, 255, 255, 1.00);
	text-align: center;
	margin: 0 auto 1em;
	font-size: 18px;
	padding: 0px;
	text-transform: lowercase;
}

.navigation li {
	padding-top: 2em;
	display: inline-block;
	padding-left: 2em;
	padding-bottom: 3em;
	font-family: "Abel", "sans serif";
}

.navigation a {
	color: black;
	text-decoration: none;
}

.navigation a:hover {
	color: #C0C0C0;
}

.products {
	display: flex;
	font-family: "Abel", "sans serif";
	flex-wrap: wrap;
}

.product-card {
	/* padding: 2%; */
	/* Causes products to be cut off */
	flex-grow: 1;
	flex-basis: 21%;
	display: flex;
	flex-direction: column;
}

.product-image img {
	max-width: 100%;
}

.product-info {
	margin-top: 0px;
	flex-wrap: wrap;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-transform: lowercase;
	flex: 1;
	flex-direction: column;
	min-height: 0vh;
}

.price {
	margin-top: 0px;
	display: flex;
	flex-wrap: wrap;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-transform: lowercase;
	flex: 1;
}

.img {
	background-image: url(medium.jpg);
}

@media (min-width: 800px) {
	.img {
		background-image: url(large.jpg);
	}
}

@media (min-width: 1000px) {
	.img {
		background-image: url(extralarge.jpg);
	}
}

sup {
	font-size: 10px;
}

btn.outline {
	background: none;
	padding: 12px 22px;
}

.btn-primary.outline {
	border: 2px solid #000;
	color: #000;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open>.dropdown-toggle.btn-primary {
	color: #fff;
	border-color: #000;
	background-color: #000;
}

.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #F3F3F3;
	box-shadow: none;
}