.row{
    text-align:center;
}

input{
    border-color:#333333;
}
.pressTitle{
    height:200px;
    min-width:400px;
    max-width:800px;
}
.pressBody{
    min-width:400px;
    max-width:800px;
    min-height:600px;
    max-height:1000px;
}