<div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
          <agm-marker [latitude]="latitude" [longitude]="longitude">
            <agm-info-window class="info-window" [isOpen]="true">Your location</agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
  <!-- User map input to be replaced by agm map -->
  <!-- <user-maps id="user-map" receipt="order.customerReceipt" style="height:400px;width:100%;border: 2px solid black;"></user-maps> -->

  <div class="order-message-container">
    <p class="order-message pending">Mookie Dough Delivery</p>
    <p class="order-message">{{orderMessage}}</p>
  </div>

  <div class="receipt mookie-confirm" *ngIf="order.customerReceipt">
    <div class="receipt-header">
      <div class="receipt-header__top">
        <div class="receipt-header__logo">
        </div>
        <div class="receipt-header__meta">
          <!-- 25.04.2016 -->
          <span class="receipt-header__date">{{order.customerReceipt.created | date:"MM/dd/yyyy 'at' h:mma"}}</span>
          <span class="receipt-header__serial">Receipt Number: #{{order.customerReceipt.receiptNumber}} </span>
          <!-- <span class="receipt-header__number">{{order.customerReceipt.receiptNumber}}</span> -->
        </div>
      </div>
      <div class="receipt-header__greeting">
        <span class="receipt-header__name">Hi, {{order.customerReceipt.customerName}}</span>
        <span class="receipt-header__count">You've purchased {{order.customerReceipt.customerCart.products.length}} items in our store.</span>
        <span class="receipt-header__border"></span>
      </div>
      <div class="receipt-header__spacing"></div>
    </div>

    <section class="cart">
      <h2 class="cart__receipt-header">Cart:</h2>
      <ol class="list">
        <li class="list__item" *ngFor="let product of order.customerReceipt.customerCart.products">
          <span class="list__name">{{product.title}}</span>
          <span class="list__price">{{product.price}}</span>
        </li>
      </ol>
      <hr class="cart__hr" />
      <div class="cart__total">
        <h3 class="cart__total-label">Subtotal</h3>
        <span class="cart__total-price">{{order.customerReceipt.customerCart.subtotal}}</span>
      </div>
      <div class="cart__total">
        <h6 class="cart__total-label">Sales Tax</h6>
        <span class="cart__total-price">{{order.customerReceipt.customerCart.tax}}</span>
      </div>
      <div class="cart__total">
        <h3 class="cart__total-label">Total</h3>
        <span class="cart__total-price">{{order.customerReceipt.customerCart.total}}</span>
      </div>
    </section>

  </div>
</div>