@import url('https://fonts.googleapis.com/css?family=Exo+2:700');
* {
    margin: 0 auto;
    padding: 0;
}

.aboutUs {
    background: url("../imgs/Media/M00KIE.jpg");
    background-color: #212121;
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    text-align: center;
}

h1 {
    color: whitesmoke;
    font-family: 'Exo 2', sans-serif;
    font-size: 46px;
    font-weight: 900;
    text-transform: uppercase;
}

.aboutText {
    max-width: 700px;
    min-height: 200px;
    padding: 0;
    color: whitesmoke;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

p{
    margin:auto;
}