.table-responsive {
    overflow-x: auto;
    min-height: 0.01%;
}
.checkoutBtn, .checkoutBtn:hover, .checkoutBtn:active,.checkoutBtn:focus{
    background-color:#333333;
}

@media screen and (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 18px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .table-responsive>table {
        margin-bottom: 0;
    }
    .table-responsive>table>thead>tr>th, .table-responsive>table>thead>tr>td, .table-responsive>table>tbody>tr>th, .table-responsive>table>tbody>tr>td, .table-responsive>table>tfoot>tr>th, .table-responsive>table>tfoot>tr>td {
        white-space: nowrap;
    }
    .table-responsive>table {
        border: 0;
    }
    .table-responsive>table>thead>tr>th:first-child, .table-responsive>table>thead>tr>td:first-child, .table-responsive>table>tbody>tr>th:first-child, .table-responsive>table>tbody>tr>td:first-child, .table-responsive>table>tfoot>tr>th:first-child, .table-responsive>table>tfoot>tr>td:first-child {
        border-left: 0;
    }
    .table-responsive>table>thead>tr>th:last-child, .table-responsive>table>thead>tr>td:last-child, .table-responsive>table>tbody>tr>th:last-child, .table-responsive>table>tbody>tr>td:last-child, .table-responsive>table>tfoot>tr>th:last-child, .table-responsive>table>tfoot>tr>td:last-child {
        border-right: 0;
    }
    .table-responsive>table>tbody>tr:last-child>th, .table-responsive>table>tbody>tr:last-child>td, .table-responsive>table>tfoot>tr:last-child>th, .table-responsive>table>tfoot>tr:last-child>td {
        border-bottom: 0;
    }
}

/* .tab-content {
    padding-top: 36px;
} */

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.nav-tabs {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    border: none;
    border-bottom: 2px solid #ededed;
}

.nav-tabs>li {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    margin-bottom: -2px;
}

.nav-tabs>li>a {
    position: relative;
    z-index: 0;
    display: block;
    color: #999;
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
    text-transform: uppercase;
    padding: 15px;
    line-height: 1.5;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
    text-decoration: none;
    outline: none;
}

.nav-tabs>li>a:hover {
    color: #606060;
    background: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #606060;
    background: none;
    border: none;
    cursor: default;
    border-bottom: 2px solid #606060;
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 24px;
}

table>thead>tr>th, table>thead>tr>td, table>tbody>tr>th, table>tbody>tr>td, table>tfoot>tr>th, table>tfoot>tr>td {
    padding: 15px;
    line-height: 1.5;
    vertical-align: top;
    border-bottom: 1px solid #ededed;
}

table>thead>tr>th, table>thead>tr>td {
    border-bottom-width: 2px !important;
}

table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #ededed;
}

table>caption+thead>tr:first-child>th, table>caption+thead>tr:first-child>td, table>colgroup+thead>tr:first-child>th, table>colgroup+thead>tr:first-child>td, table>thead:first-child>tr:first-child>th, table>thead:first-child>tr:first-child>td {
    border-top: 0;
}

table>tbody+tbody {
    border-top: 2px solid #ededed;
}