.gallery{
      list-style-type: none;
}
/* navbar */
#fullnav{
    background-color: #ffcc00;
    border-color: #ffcc00;
}

/* Title */
.navbar-default .navbar-brand {
    color: #542084;
}

body{
      width:auto;
      height:auto;
      background: #542084;
      background-color: #542084;
}

header{
       background-color: #542084;
}