.gallery{
      list-style-type: none;
}
/* navbar */
#fullnav{
    background-color: #ffcc00;
    border-color: #ffcc00;
    color:#542084;
}

/* Title */
.navbar-default .navbar-brand {
    color: #542084;
}

html {
      text-align: center;
      border:10px;

}
body{
      border:10px;
      display: inline-block;
    margin: 0px auto;
    text-align: center;
    /*background-image: url(../imgs/GuiltyXHealthy.jpg);*/
      
}

header{
       background-color: #542084;
}