<div class="container socialMedia">
  <div class="text-center">
    <p>Check out our instagram and Twitter Feeds</p>
    <a href="https://instagram.com/_mookie_dough" class="secretsocial">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://twitter.com/_Mookie_Dough" class="secretsocial">
      <i class="fab fa-twitter"></i>
    </a>
  </div>

  <div style="display:block; height:100%">
    <script style="height:100%" src="https://lightwidget.com/widgets/lightwidget.js"></script>
    <iframe id="insta" src="https://lightwidget.com/widgets/6c3070862eb4520e9880b7583b1c710d.html" scrolling="no" allowtransparency="true"
      class="lightwidget-widget" style="width: 100%; border: 0;height:100%;"></iframe>
  </div>

  <!-- <insta style="width: 100%; border: 0; display:block;"></insta> -->

  <div id="twit" style="display:block; height:100%">
    <a class="twitter-timeline" href="https://twitter.com/_Mookie_Dough?ref_src=twsrc%5Etfw">Tweets by _Mookie_Dough</a>
  </div>

</div>