<div class="aboutUs">
    <h1>
        ABOUT US
        <br>
        <img src="https://image.ibb.co/nk616F/Layer_1_copy_21.png" width="47" height="11" align="center">
    </h1>
    <article>
        <p class="aboutText">
            We are a team of first-generation students at Stanford University with a passion for creativity and good food. Half of our
            team immigrated to the US at a young age, and all of our team’s members have histories of overcoming less-than
            ideal odds, while demonstrating unmatchable hustle in all facets of life. From our deep involvement in our respective
            communities to our individual passions for fashion, design, food, and entrepreneurship, we all aspire to make
            waves by not only stretching the boundaries of what defines a modern food company, but also to contradict the
            common perception of what is and isn’t possible irrespective of your given odds when you approach life with an
            energetic and creative spirit.

            <br>
            <br> Since being founded in 2017, Mookie Dough has been feeding the insatiable cookie dough cravings of our loyal fans. What makes
            us so different? What makes us special? Why should you eat our cookie dough? The answer is simple. You love our cookie
            dough and we want to make sure you can get it anytime you want. When Late-night is over and there isn't a meal
            in sight take some Mookie Dough from your fridge and have a great night.
        </p>
    </article>
</div>