<div class="aboutUs">
    <h1>
        ABOUT US
        <br>
        <img src="https://image.ibb.co/nk616F/Layer_1_copy_21.png" width="47" height="11" align="center">
    </h1>
    <article>
        <p class="aboutText">Mookie Dough was founded in a college dorm room in 2017 at Stanford University by Four Black First Generation and
            Low Income engineering students. Ever since then we have been feeding the insatiable cravings of our loyal fans.
            What makes us so different? What makes us special? Why should you eat our cookie dough? The answer is simple.
            You love cookie dough and we want to make sure you can get it anytime you want. When Late-night is over and there isn't a meal in sight take some Mookie Dough from your fridge and have a good night.
        </p>
    </article>
</div>