<div class="row admin-frame">
    <ul class="admin-menu">
        <li>
            <a href="/management/users">
                User Management
            </a>
        </li>
        <li>
            <a href="/management/currentorders">
                Current Orders
            </a>
        </li>
        <li>
            <a href="/management/pressrelease">
                Press Releases
            </a>
        </li>
        <li>
            <a href="/management/products">
                Product Management
            </a>
        </li>
        <li>
            <a href="/management/payments">
                Payments
            </a>
        </li>
        <li>
            <a href="/management/otherdata">
                Other Data
            </a>
        </li>


    </ul>

</div>