<div class="pagewrapper">
    <admin-header></admin-header>
    <div class="row">
        <div class="col-xs-12">
            <h3> Current Orders</h3>

            <!-- For a current order I want to have to users name or guest id maybe, time of the order, address, information, payment, everything -->
            
            
        </div>
        <div class="col-xs-12">
            <h3>Previous Orders</h3>
            <!-- For past orders do the same thing as current  -->

        </div>
    </div>
</div>