<div class="container">

    <h1> Thanks for deciding to donate to Mookie Dough LLC. We are proud to serve the Stanford/ Bay area tasy, artisan cookie dough
        products!</h1>
    
    <form>
        <div class="group">
            <label>
                <input name="cardholder-name" class="field is-empty" placeholder="Name Jane Doe" ng-model="cartCtrl.checkoutData.name" style="color:black"
                />
            </label>
            <label>
                <input class="field is-empty" type="tel" placeholder="Phone number (123) 456-7890" ng-model="cartCtrl.checkoutData.number"
                    style="color:black" />
            </label>
        </div>
        <div class="group">
            <label>
                <div id="card-element" class="field is-empty" required></div>
            </label>
    
    
        </div>
        <label for="card-element" style="height:auto">
            <span>
                <span>
                    <p style="position:absolute">{{cartCtrl.checkoutMessage}}</p>
                </span>
            </span>
        </label>
    </form>

</div>