<div>
  <div class="row">
    <div class="col-md-6 col-sm-6 leftguilty">
        <img  ng-src="../imgs/GuiltyXHealthy.jpg">
    </div>
    <div class="col-md-6 col-sm-6 rightpleasure">
        <img  ng-src="../imgs/GuiltyXHealthy.jpg">
    </div>
  </div>

<div class="row">
    <div class="col-md-6 col-sm-6">
        <a class="btn btn-success" href="/"> <h1> Cookie Dough </h1> </a>
    </div>
    <div class="col-md-6 col-sm-6">
        <a class="btn btn-warning" href="/"> <h1> Cookie Dough + Ice Cream </h1> </a>
    </div>
    
    
</div>

  
</div>
