<div class="container home">
    <div class="row intro">
        <div class="col-md-6 col-xs-6 alamodeIntroduction" layout-xs="column" layout="column">
            <md-card>
                <md-card-content class="md-padding">
                    <h2>Welcome to álamode</h2>
                    <p>Do you like cookie dough? You're in the right place!</p>
                </md-card-content>
            </md-card>
        </div>
        <div class="col-md-6 col-xs-6 introText" style="background-color:none" layout-xs="column" layout="column">
            <md-card>
                <md-card-content class="md-padding">
                    <h3>Here we strive to provide the best cookie dough tasting experience in the most convenient means as possible</h3>
                </md-card-content>
            </md-card>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h1> The Tastes you've been wasting for are right around the corner</h1>
        </div>
    </div>
    
    <div style="margin-top:5%" class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-xs-6 col-xs-offset-3 centered">
            <button ng-click="main.demo.startOrder()" class="btn btn-default home-button" type="button">Enjoy Cookie Dough Now</button>
        </div>
    </div>
</div>
