<div class="">
    <div class="container">
        <input id="testInput" name="myFile" type="file">
        <button type="button" ng-click="mookie.clickIt()">click it</button>
        <img id="testImage" ng-src="mookie.testImage" alt="nothing" >
        <!-- <iframe id="frmFile" src="../imgs/Media/efc18e_nugo.dng"  onload="LoadFile();" style="display: none;"></iframe> -->

    </div>
    
<div id="stage">
        <div id="stage-caption">
            <h1 class="display-3">Welcome to Mookie Dough</h1>
            <p>Deliveries of cookie dough are in your future.</p>
            <a href="/register" class="btn btn-lg btn-success" ng-show="!mookie.loggedIn">Sign up now</a>
            <a href="/menu" class="btn btn-lg btn-success" ng-show="mookie.loggedIn">Order now</a>

        </div>
    </div>
    
    <section id="feature-one">
        <div class="container-fluid">
            <div class="row">
                <div class="feature-content">    
                    <div class="col-lg-5 col-lg-offset-1">
                        <h6>Who we are</h6>
                        <h2>Mookie Dough has been serving premium quality cookie dough to our customers since 2017</h2>
                        <p class="lead">In that time Stanford students and our valued customers in the nearby Stanford area have propeled our small company forward into a platform to share amazing content and of course delicious edible cookie dough.</p>
                        <a href="/about">About us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="feature-two" class="feature-dark">
        <div class="container">
            <div class="row">
                <div class="feature-content">
                    <div class="col-lg-6 feature-caption">
                        <h2>Have a craving for cookie dough?</h2>
                        <p class="lead">Enjoy our safe and delicious artisian quality cookie dough made without eggs!</p>
                    </div>
                    <div class="col-lg-6 text-sm-center hidden-md-down lowish">
                        <img src="../imgs/Media/beachdo1.jpg" alt="Beach Mookie">
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="feature-three">
        <div class="container">
            <div class="row">
                <div class="feature-content">
                    <div class="col-lg-6 hidden-md-down">
                        <img src="../imgs/Media/M00KIE.jpg" alt="M00kie img">
                    </div>
                    <div class="col-lg-5 col-lg-offset-1">
                        <h6>EXCLUSIVE CATERING</h6>
                        <h2>Serving Stanford and nearby areas</h2>
                        <p class="lead">Contact Andrew Bempah or Oluwaseyi Olaleye at bempah@mookiedough.com and olaleye@mookiedough.com for exclusive catering!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="feature-four" class="feature-alt">
        <div class="container">
            <div class="row">
                <div class="feature-content">
                    <div class="col-lg-6">
                        <h6>Dream Big</h6>
                        <blockquote class="blockquote">
                            &ldquo; When people eat Mookie Dough Cookie Dough and support our platform, they are cosigning and supporting the dreams of a team of hustlers that weren't afraid to dream &rdquo;
                            <footer class="blockquote-footer">
                                Andrew Bempah,
                                <cite>President of Mookie Dough LLC</cite>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="col-lg-6 hidden-md-down">
                        <img src="../imgs/Media/side.png" alt="Brelvis Hesley">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
