<div class="container productCatalog" ng-controller="MenuController"> 
    <div ng-repeat="product in products">
    <div class="row" flex >
        <div>
            <div class="col-xs-4 col-xs-offset-2">  
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <img style="width:200px;height:200px;" ng-src="{{product.img}}">
                <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{product.title}}</span>
                    <span class="md-subhead">{{product.descirption}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media" ng-src="{{product.img}}"></div>
                </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                <md-button class="btn-primary">Add to checkout</md-button>
                <md-button class="btn-warning">Remove from checkout</md-button>
                </md-card-actions>
            </md-card>
            </div> 

            <div class="col-xs-4">
                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <img style="width:200px;height:200px;" ng-src="{{product.img}}">
                <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{product.title}}</span>
                    <span class="md-subhead">{{product.descirption}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media" ng-src="{{product.img}}"></div>
                </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                <md-button class="btn-primary">Add to checkout</md-button>
                <md-button class="btn-warning">Remove from checkout</md-button>
                </md-card-actions>
            </md-card>
            </div> 
        </div>
    </div>
</div>
</div>