<div class="productCatalog" ng-controller="MenuController"> 

  <div class="row">
    <div class="col-md-4 col-sm-6"  ng-repeat="product in products">
    <md-card>
      <md-card-header>
        <md-card-avatar>
        <img class="md-user-avatar" ng-src="{{product.img}}">
        </md-card-avatar>
      <md-card-header-text>
        <span class="md-title">{{product.title}}</span>
        <span class="md-subhead">{{product.description}}</span>
      </md-card-header-text>
    </md-card-header>
    <img ng-src="{{product.img}}" class="md-card-image" alt="image caption">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Card headline</span>
        <span class="md-subhead">Card subheader</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center">
      <md-button>Action 1</md-button>
      <md-button>Action 2</md-button>
      <md-card-icon-actions>
        <md-button class="md-icon-button" aria-label="icon">
          <md-icon md-svg-icon="icon"></md-icon>
        </md-button>
      </md-card-icon-actions>
    </md-card-actions>
    <md-card-content>
      <p>
      Card content
      </p>
    </md-card-content>
  </md-card>
      </div>
    </div>

  <div class="row">
    <div class="col-md-4 col-sm-6" ng-repeat="product in products">   
  <md-card class="md-blue-theme" layout="column" md-theme-watch>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{product.title}}</span>
              <span class="md-subhead">{{product.description}}</span>
            </md-card-title-text>
            <md-card-title-media>
              <img class="md-media-lg card-media product-image" ng-src="{{product.img}}">
              <!--<div class="md-media-lg card-media product-image" ng-src="{{product.img}}"></div>-->
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="btn-primary">Add to checkout</md-button>
            <md-button class="btn-warning">Remove from checkout</md-button>
          </md-card-actions>
      </md-card>

       
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img ng-src = "{{product.img}}" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>Thumbnail label</h3>
         <p>Some sample text. Some sample text.</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Button
            </a> 
            
            <a href = "#" class = "btn btn-default" role = "button">
               Button
            </a>
         </p>
      </div>
   </div>
      </div>


  </div>


  <div>
      <ul class="gallery">
          <li ng-repeat="product in products">
              <div class="card card-cascade narrower">

              <!--Card image-->
              <div class="view overlay hm-white-slight">
                  <img ng-src="{{product.img}}" class="img-fluid product-image" alt="">
                  <a>
                      <div class="mask waves-effect waves-light"></div>
                  </a>
              </div>
              <!--/.Card image-->

              <!--Card content-->
              <div class="card-block">
                  <h5 class="red-text"><i class="fa fa-money"></i> Business</h5>
                  <!--Title-->
                  <h4 class="card-title">ingredients: </h4>
                  <!--Text-->
                  <p class="card-text">We hope you enjoy our delicious cookie dough products</p>
                  <a class="btn btn-primary">Eat Here</a>
              </div>
              <!--/.Card content-->

              </div>

              <!--<img class="product-image" ng-src="{{ product.img }}">
              <h2 class="product-title"> {{product.title}}</h2>
              <p class="product-ingredients">{{product.ingredients}} </p>
              <p class="product-price"> {{product.price | currency}}</p>-->
          </li>
      </ul>
      <button type="button" ng-click="addToCheckout(0)">Add to orders </button>
  </div>

</div>