<div class="container" style="padding:0;margin-left:0px;margin-right:0px;width:100%;">
    <input id="order-input" class="order-input">
    <!-- <div class="order-frame">
        <input class="order-input">
    </div> -->
    <order-maps id="g-map" style="height:400px;width:100%;border: 2px solid black;"></order-maps>
    <div id="infowindow-content">
        <img src="" width="16" height="16" id="place-icon">
        <span id="place-name" class="title"></span>
        <br>
        <span id="place-address"></span>
    </div>

    <div class="user-receipt">
        <div class="total">


        </div>
        <div class="sales-tax">

        </div>
        <!-- payment method with the last 4 digits of card or no? -->

        <!--  -->
    </div>

    <div class="receipt">

        <div class="receipt-header">
            <div class="receipt-header__top">
                <div class="receipt-header__logo">
                    <!-- <img src="../imgs/Media/goodmookie.svg"></img> -->
                </div>
                <div class="receipt-header__meta">
                    <span class="receipt-header__date">25.04.2016</span>
                    <span class="receipt-header__serial">0f-113</span>
                    <span class="receipt-header__number">25042016</span>
                </div>
            </div>
            <div class="receipt-header__greeting">
                <span class="receipt-header__name">Hi, Carlin</span>
                <span class="receipt-header__count">You've purchased three (3) items in our store.</span>
                <span class="receipt-header__border"></span>
            </div>
            <div class="receipt-header__spacing"></div>
        </div>

        <section class="cart">
            <h2 class="cart__receipt-header">Cart:</h2>
            <ol class="list">
                <li class="list__item">
                    <span class="list__name">Lacoste t-shirt</span>
                    <span class="list__price">$48.00</span>
                </li>
                <li class="list__item">
                    <span class="list__name">Nike sweatpants</span>
                    <span class="list__price">$125.00</span>
                </li>
                <li class="list__item">
                    <span class="list__name">Converse All-Stars</span>
                    <span class="list__price">$95.00</span>
                </li>
            </ol>
            <hr class="cart__hr" />
            <!-- previous footer -->
            <div class="cart__total">
                <h3 class="cart__total-label">Total</h3>
                <span class="cart__total-price">$268.00</span>
            </div>
        </section>

    </div>
</div>