<div class="container" style="padding:0;margin-left:0px;margin-right:0px;width:100%;">
    <div class="way-header">
        <h3>Welcome to Mookie Dough Delivery</h3>
    </div>
    <input id="order-input" class="order-input">
    <order-maps id="g-map" style="height:400px;width:100%;border: 2px solid black;"></order-maps>
    <div id="infowindow-content">
        <img src="" width="16" height="16" id="place-icon">
        <span id="place-name" class="title"></span>
        <br>
        <span id="place-address"></span>
    </div>
    <!-- Create a variable that will stand for location changed. Based on lcoation changing and the other variable stored with new location an update should be display for the user to fully checkout. Maybe bring checkout.css into here as well -->

    <div class="otw-spinner" ng-show="!mookie.deliveryLocationChanged">
        <i class="fas fa-spinner fa-spin fa-3x"></i>
        <div ng-show="checkoutCtrl.receipt">Order Pending</div>
    </div>
    <!-- Mookie confirm -->
    <div class="mookie-confirm" ng-show="mookie.deliveryLocationChanged">
        <p class="mookie-confirm-message">Delivery set to {{mookie.deliveryLocation}}</p>
        <!-- maybe a fa spinner to show we're doing something. then -->
        <!-- With delivery location in tow we can send email to user's account and  -->
        <form method="post" class="container padding-top-3x padding-bottom-2x">

            <h1 class="space-top-half text-center">Checkout</h1>
            <div class="row padding-top">

                <!-- add bitcoin as a payment method -->



                <!-- Checkout Form -->
                <div class="col-sm-8 col-md-4 col-md-offset-3 padding-bottom">
                    <!-- .row -->
                    <div class="row">
                        <!-- <a href="#" class="add-to-cart" ng-click="mookie.showStripeModal()">
                            <em>Checkout Now</em>
                            <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                              <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
                            </svg>
                        </a> -->

                        <p> Please use 4242-4242-4242-4242 for card number and any date or zip code during test experience</p>
                        <form>
                            <div class="group">
                                <label>
                                    <input name="cardholder-name" class="field is-empty" placeholder="Name Jane Doe" ng-model="checkoutCtrl.checkoutData.name"
                                    />
                                </label>
                                <label>
                                    <input class="field is-empty" type="tel" placeholder="Phone number (123) 456-7890" ng-model="checkoutCtrl.checkoutData.number"
                                    />
                                </label>
                            </div>
                            <div class="group cardGroup">
                                <label>
                                    <div id="card-element" class="field is-empty stripeElement" required></div>
                                </label>

                            </div>
                        </form>

                    </div>
                    <div class="row" ng-show="checkoutCtrl.chargeSuccessful">
                    </div>
                </div>
                <!-- .col-sm-8 -->

                <!-- Sidebar -->
                <div class="col-md-3 col-md-offset-1 col-sm-4 padding-bottom">
                    <aside>
                        <h3>Cart subtotal:</h3>
                        <h4>${{mookie.cart.subtotal}}</h4>
                        <h3>Cart tax:</h3>
                        <h4>${{mookie.cart.tax}}</h4>
                        <h3>Cart total:</h3>
                        <h4>${{mookie.cart.total}}</h4>
                        <a href="/shopping-cart" class="btn btn-default btn-ghost icon-left btn-block">
                            <i class="material-icons arrow_back"></i>
                            Back To Cart
                        </a>
                        <!-- <button type="submit" class="btn btn-primary btn-block waves-effect waves-light space-top-none" ng-click="mookie.showStripeModal()">Checkout</button> -->
                        <button type="submit" class="btn btn-primary btn-block waves-effect waves-light space-top-none checkoutBtn" ng-click="checkoutCtrl.doCheckout(checkoutCtrl.checkoutData)">Checkout</button>
                        <label for="card-element" class="checkoutMsg">
                            <span>
                                <span>
                                    <p style="position:absolute">
                                        {{checkoutCtrl.checkoutMessage}}</p>
                                </span>
                            </span>
                        </label>

                    </aside>
                </div>
                <!-- .col-md-3.col-sm-4 -->
            </div>
            <!-- .row -->
        </form>
    </div>
    <!--  -->


    <div class="receipt mookie-confirm" ng-show="checkoutCtrl.receipt">
        <div class="receipt-header">
            <div class="receipt-header__top">
                <div class="receipt-header__logo">
                </div>
                <div class="receipt-header__meta">
                    <!-- 25.04.2016 -->
                    <span class="receipt-header__date">{{checkoutCtrl.receipt.created | date:"MM/dd/yyyy 'at' h:mma"}}}</span>
                    <span class="receipt-header__serial">Receipt Number: #{{checkoutCtrl.receipt.receiptNumber}} </span>
                    <!-- <span class="receipt-header__number">{{checkoutCtrl.receipt.receiptNumber}}</span> -->
                </div>
            </div>
            <div class="receipt-header__greeting">
                <span class="receipt-header__name">Hi, {{checkoutCtrl.receipt.customerName}}</span>
                <span class="receipt-header__count">You've purchased {{checkoutCtrl.receipt.customerCart.products.length}} items in our store.</span>
                <span class="receipt-header__border"></span>
            </div>
            <div class="receipt-header__spacing"></div>
        </div>

        <section class="cart">
            <h2 class="cart__receipt-header">Cart:</h2>
            <ol class="list">
                <li class="list__item" ng-repeat="product in checkoutCtrl.receipt.customerCart.products">
                    <span class="list__name">{{product.title}}</span>
                    <span class="list__price">{{product.price}}</span>
                </li>
            </ol>
            <hr class="cart__hr" />
            <div class="cart__total">
                <h3 class="cart__total-label">Subtotal</h3>
                <span class="cart__total-price">{{checkoutCtrl.receipt.customerCart.subtotal}}</span>
            </div>
            <div class="cart__total">
                <h6 class="cart__total-label">Sales Tax</h6>
                <span class="cart__total-price">{{checkoutCtrl.receipt.customerCart.tax}}</span>
            </div>
            <div class="cart__total">
                <h3 class="cart__total-label">Total</h3>
                <span class="cart__total-price">{{checkoutCtrl.receipt.customerCart.total}}</span>
            </div>
        </section>
    </div>
</div>