<div ng-show="customerCtrl.showMe">
    <!-- <input id="customerCtrl.order-input" class="customerCtrl.order-input"> -->
    <user-maps id="user-map" receipt="customerCtrl.order.customerReceipt" style="height:400px;width:100%;border: 2px solid black;"></user-maps>

    <div class="order-message-container">
        <p class="order-message pending">Mookie Dough Delivery</p>
    </div>

    <div class="receipt mookie-confirm" ng-show="customerCtrl.order.customerReceipt">
        <div class="receipt-header">
            <div class="receipt-header__top">
                <div class="receipt-header__logo">
                </div>
                <div class="receipt-header__meta">
                    <!-- 25.04.2016 -->
                    <span class="receipt-header__date">{{customerCtrl.order.customerReceipt.created | date:"MM/dd/yyyy 'at' h:mma"}}</span>
                    <span class="receipt-header__serial">Receipt Number: #{{customerCtrl.order.customerReceipt.receiptNumber}} </span>
                    <!-- <span class="receipt-header__number">{{customerCtrl.order.customerReceipt.receiptNumber}}</span> -->
                </div>
            </div>
            <div class="receipt-header__greeting">
                <span class="receipt-header__name">Hi, {{customerCtrl.order.customerReceipt.customerName}}</span>
                <span class="receipt-header__count">You've purchased {{customerCtrl.order.customerReceipt.customerCart.products.length}} items in our store.</span>
                <span class="receipt-header__border"></span>
            </div>
            <div class="receipt-header__spacing"></div>
        </div>

        <section class="cart">
            <h2 class="cart__receipt-header">Cart:</h2>
            <ol class="list">
                <li class="list__item" ng-repeat="product in customerCtrl.order.customerReceipt.customerCart.products">
                    <span class="list__name">{{product.title}}</span>
                    <span class="list__price">{{product.price}}</span>
                </li>
            </ol>
            <hr class="cart__hr" />
            <div class="cart__total">
                <h3 class="cart__total-label">Subtotal</h3>
                <span class="cart__total-price">{{customerCtrl.order.customerReceipt.customerCart.subtotal}}</span>
            </div>
            <div class="cart__total">
                <h6 class="cart__total-label">Sales Tax</h6>
                <span class="cart__total-price">{{customerCtrl.order.customerReceipt.customerCart.tax}}</span>
            </div>
            <div class="cart__total">
                <h3 class="cart__total-label">Total</h3>
                <span class="cart__total-price">{{customerCtrl.order.customerReceipt.customerCart.total}}</span>
            </div>
        </section>

    </div>
</div>