<div class="product">
 <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{product.title}}</span>
            <span class="md-subhead">{{product.descirption}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media" ng-src="{{product.img}}"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="btn-primary">Add to checkout</md-button>
          <md-button class="btn-warning">Remove from checkout</md-button>
        </md-card-actions>
      </md-card>
</div>

<!--
  <div class="product">
  <div class="container">
    <img ng-src="{{ product.img }}">
    <h2 class="product-title"> {{product.title}}</h2>
    <p class="product-ingredients">{{product.description}} </p>
    <p class="product-price"> {{product.price | currency}</p>
  </div>
</div> -->