<html>

<head>
    <style type="text/css" media="screen">
        .mainImg {
            width: 600px;
            height: 300px;
        }

        .center-content {
            text-align: center;
            width: 100%;
        }

        a {
            color: black;
            border: black 1px solid;
        }
    </style>
</head>

<body>
    <table style="width:100%;">
        <tr class="center-content">
            <td>
                <p>
                    Thanks for ordering Mookie Dough Today!
                    <br> Here's a link to track your order's progress

                    <!-- Order link -->
                    <a href="https://www.mookiedough.co/orders/'+newOrder._id+''">Your Order</a>

                </p>
                <img class="mainImg" src="https://www.mookiedough.co/sites/default/files/dorm5-min.jpg">
            </td>
        </tr>

        <tr class="center-content">
            <td>
                <img class="mainImg" src="https://www.mookiedough.co/sites/default/files/dorm5-min.jpg">
            </td>
        </tr>
    </table>
</body>

</html>