/* .field {
    background: transparent;
    font-weight: 300;
    border: 0;
    color: #31325F;
    outline: none;
    padding-right: 10px;
    padding-left: 10px;
    cursor: text;
    width: 100%;
    height: 40px;
    float: right;
} */

/* .field::-webkit-input-placeholder {
    color: #CFD7E0;
}

.field::-moz-placeholder {
    color: #CFD7E0;
}

.field:-ms-input-placeholder {
    color: #CFD7E0;
} */

.checkoutBtn, .checkoutBtn:hover, .checkoutBtn:active,.checkoutBtn:focus{
    background-color:#333333;
}
.field::placeholder {
    background-color: #333333;
    color: white;
    border: 0;
    padding: 0;
}

.field {
    border: 0px;
    width: 100%;
    padding: 0px;
    color: white;
    background-color: #333333;
}

.field:focus {
    border: 0px;
    outline-offset: 0px;
    outline-color: white;
    background-color: #333333;
}

.group {
    box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    /* margin-bottom: 20px; */
    padding: 20px;
    background-color: #333333;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 500;
    position: relative;
    font-weight: 300;
    height: 40px;
    /* line-height: 40px; */
    /* margin-left: 20px; */
}

.checkoutMsg {
    width: 100%;
    padding-top: 5px;
}
.stripeElement{
    color:white;
}