.navbar {
    /* border-bottom: 1px solid #CCCCCC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(204, 204, 204); */
    position: relative;
    // z-index: 10;
    width: 100%;
    max-height: 80px;
    min-height: 80px;
    background-color: #fff;
    padding-left: 5px;
    top: 0;
    left: 0;

    #logo {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 139px;
    }
    @media screen and (max-width:400px) {
        #logo {
            position: relative;
            float: left;
        }
    }

    .toolbar {
        color: black;
        position: absolute;
        font-size: 36px;
        right: 5px;
        bottom: 0px;
        /* height: 80px; */
        width: auto;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: flex-end;
        -webkit-align-items: flex-end;
        -webkit-box-align: flex-end;
        align-items: flex-end;
    }
    
}

.navbar.navbar-sticky {
    // position: fixed;
}

.navbar.navbar-sticky+* {
    margin-top: 100px;
}

.main-navigation {
    display: block;
    z-index: 10;
    position: fixed;
    width: 100%;
    height: calc(100% - 80px);
    top: 80px;
    left: 0;
    background-color: #ffffff;
    padding: 0;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0.3s, opacity 0.3s;
    -o-transition: visibility 0.3s, opacity 0.3s;
    transition: visibility 0.3s, opacity 0.3s;
   
}

.main-navigation>.menu {
    display: none;
    color: black;
    list-style: none;
    margin: 0;
    padding: 20px 0;
}

.main-navigation>.menu>li {
    display: block;
}


.main-navigation>.menu li>a {
    display: block;
    color: #606060;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
}


.main-navigation>.menu>li>a {
    line-height: 1.5;
    padding: 12px 15px;
}

.main-navigation.open {
    visibility: visible;
    opacity: 1;
}

.main-navigation.open>.menu {
    display: block;
    -webkit-animation: slideUpLong 0.5s;
    -o-animation: slideUpLong 0.5s;
    animation: slideUpLong 0.5s;
}


a.mobile-menu-toggle {
	display: inline-flex;
	color: #333333;
}


a.mobile-menu-toggle.active>i {
	opacity: 0;
	-webkit-transform: translateY(-20px) scale(0.7);
	-moz-transform: translateY(-20px) scale(0.7);
	-ms-transform: translateY(-20px) scale(0.7);
	-o-transform: translateY(-20px) scale(0.7);
	transform: translateY(-20px) scale(0.7);
	-webkit-transition: transform 0.3s, opacity 0.15s;
	-o-transition: transform 0.3s, opacity 0.15s;
	transition: transform 0.3s, opacity 0.15s;
}

a.mobile-menu-toggle.active .menu {
	display: none;
	color: black
}

a.mobile-menu-toggle.active .cross {
	color: black;
	display: inline-flex;
}

a.mobile-menu-toggle .cross {
	display: none;
}

a.mobile-menu-toggle>i {
	position: relative;
	display: inline-block;
	font-style: normal;
	opacity: 1;
	-webkit-transform: translateY(0) scale(1);
	-moz-transform: translateY(0) scale(1);
	-ms-transform: translateY(0) scale(1);
	-o-transform: translateY(0) scale(1);
	transform: translateY(0) scale(1);
	-webkit-transition: transform 0.3s, opacity 0.15s;
	-o-transition: transform 0.3s, opacity 0.15s;
	transition: transform 0.3s, opacity 0.15s;
}

.mobile-menu-toggle.active>i {
	opacity: 0;
	-webkit-transform: translateY(-20px) scale(0.7);
	-moz-transform: translateY(-20px) scale(0.7);
	-ms-transform: translateY(-20px) scale(0.7);
	-o-transform: translateY(-20px) scale(0.7);
	transform: translateY(-20px) scale(0.7);
	-webkit-transition: transform 0.3s, opacity 0.15s;
	-o-transition: transform 0.3s, opacity 0.15s;
	transition: transform 0.3s, opacity 0.15s;
}

@media screen and (max-width: 1070px) {
	a.mobile-menu-toggle {
		display: inline-flex;
		vertical-align: text-top;
	}
}

.mookieIcon {
	color: #333333;
	text-decoration-line: none;
	display: inline-flex;
	vertical-align: text-top;
	-webkit-animation: slideUpLong 0.5s;
	-o-animation: slideUpLong 0.5s;
	animation: slideUpLong 0.5s;
}

.mookieIcon:hover {
	color: #333333;
}