<header class="navbar navbar-sticky nav-down">
  <div id="logo" href="/home">
    <a href="/home">
      <img src="assets/imgs/toplogo.svg" alt="App Loading">
    </a>
  </div>
  <nav [ngClass]="{'open':menuToggleOpen}" class="main-navigation text-center">
    <ul class="menu">
      <li>
        <a href="/home">
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="/menu">
          <span>menu</span>
        </a>
      </li>
      <li>
        <a href="/thesecret">
          <span>the secret</span>
        </a>
      </li>
      <li>
        <a href="/about">
          <span>about us</span>
        </a>
      </li>
      <li *ngIf="!loggedIn">
        <a href="/register">
          Sign In/Up
        </a>
      </li>
    </ul>
  </nav>
  <div class="toolbar">
    <div class="inner">
      <a (click)="openMenuToggle()" class="mobile-menu-toggle mookieIcon">
        <i *ngIf="!menuToggleOpen" class="fas fa-bars fa-xs fa-fw menu"></i>
        <i *ngIf="menuToggleOpen" class="fas fa-times fa-xs fa-fw cross"></i>
      </a>
      <a href="/account" class="mookieIcon" *ngIf="loggedIn">
        <i class="fas fa-user fa-xs fa-fw"></i>
      </a>
      <a href="/shopping-cart" class="mookieIcon" *ngIf="cartItemCount> 0">
        <i class="fas fa-shopping-cart fa-xs fa-fw"></i>
        <!-- <span class="shop-count">{{mookie.cartItemCount}}</span> -->
      </a>
    </div>
  </div>
</header>