<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3> Current Orders</h3>
      <ul *ngFor="let order of orders">
        <li>
          {{order.orderStatus}}
        </li>
        <li>
          <!-- link to oder -->
          <a [routerLink]="'/management/currentorders/order/'+ order._id">Order Link</a>
        </li>
        <li *ngFor="let product of order.customerReceipt.customerCart.products">
          <p>{{product.title}}</p>
          <p>{{product.price}}</p>
          <p>{{product._id}}</p>
        </li>
        <li>
          {{order.customerReceipt.customerCart.user.username}}
        </li>
      </ul>

      <!-- For a current order I want to have to users name or guest id maybe, time of the order, address, information, payment, everything -->


    </div>
    <div class="col-xs-12">
      <h3>Previous Orders</h3>
      <!-- For past orders do the same thing as current  -->
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>