footer {
	padding-top: 10px;
	background-color: #333333;
	color: #ffffff;
}

#main-footer {
	background: #333333;
	color: white;
	padding: 6rem 0;
	/* font-size: 0.8rem; */
}

#main-footer h6 {
	color: #718FA9;
}

#main-footer a {
	color: #6C6F73;
}