<!-- <img src="assets/3dMocha.png"/> -->

<body>
  <!-- Stripe modal -->
  <div class="modal fade" id="stripeModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- {{mookie.modalTitle}} -->
          <h2> Mookie Dough Customer Experience</h2>
        </div>
        <div class="modal-body">
          <h4> Thank you for shopping with us</h4>
          <img class="thankshopper" src="../imgs/Media/header2.png">

        </div>
      </div>
    </div>
  </div>
  <!--  -->

  <!-- Etc Modal -->
  <div class="modal fade container" id="myModal" role="dialog" style="color:black;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- {{mookie.modalTitle}} -->
          <button type="button" class="close myClose" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <!-- {{mookie.modalBody}} -->
        </div>
      </div>
    </div>
  </div>
  <!--  -->

  <!-- Product Modal -->
  <div class="modal fade" id="productModal" role="dialog">
    <!-- <productwidget info="mookie.modal"></productwidget> -->
  </div>

  <!-- Mookie Header -->
  <app-mookie-header></app-mookie-header>

  <!-- Main Angular view where routes will be rendered-->
  <!-- <div class="main-view" ng-show="main.loadme" ng-view></div> -->
  <router-outlet></router-outlet>

  <!-- Mookie footer -->
  <app-mookie-footer></app-mookie-footer>

<!-- <script src="../mookiedoughfrontend/js/scripts.js"></script> -->
</body>